.separator {
    height: 380px;
    max-height: 10vh;
    width: 100vw;
    background: linear-gradient(2deg, $primary-color 50%, rgba(255, 255, 255, 1) 50.8%);

    @media screen and (max-width: 500px) {
        display: none;

    }


}

.reverse {

    background: linear-gradient(2deg, rgba(255, 255, 255, 1) 50%, $primary-color 50.6%);
}