.showcase {
    position: relative;
    background: url("./images/banner-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    aspect-ratio: 21/9;
    max-height: 80vh;

    @media screen and (max-width: 850px) {
        background-position: 60% 10%;
        max-height: 1000vh;
        aspect-ratio: 1/1;
    }

    @media screen and (min-width: 2700px) {
        max-height: 60vh;
        background-size: 100%;
        background-position: 50% 30%;

    }

}

.showcase::after {
    content: "";
    position: absolute;
    background-image: url("./images/wave-overlay.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    bottom: -2px;
    width: 100%;
    height: 100%;
    z-index: 1;

    @media screen and (min-width: 2700px) {
        background-size: 100% 25%;
        background-position: 0% 100%;

    }

}

#inscription {
    &>div:first-child {
        flex: 2 1 600px;
    }

    &>div:last-child {
        flex: 1 1 300px;
    }
}