$primary-color: #FF6060;
$secondary-color: #F7F7F7;
$tertiary-color: #000;

/* Screen sizes */
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1300px;
$screen-2xl: 1536px;

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --screen-sm: #{$screen-sm};
    --screen-md: #{$screen-md};
    --screen-lg: #{$screen-lg};
    --screen-xl: #{$screen-xl};
    --screen-2xl: #{$screen-2xl};
}